/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Tomorrow', sans-serif;
	background-color: #FFFCF8;
}

h1 {
	color: #735582;
}

h2 {
	color: #8141A2;
}

h3{
	color: #FFA043;
}

footer {
	color: #735582;
	background-color: #DECEA6;
}

.col-md-3 {
  background-color: #735582 /* Set the background color for the side columns */
}


/* Changing the background colour for the header */

header {
	background-color: #E8E6E7;
}

/* Changing the background color for the navigation bar */
.navbar {
	background-color: #735582; 
}

.nav-link {
	color: #D3BF8C;
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.top-section {
	margin-top: 40px;
	}

.bottom-section {
	margin-bottom: 80px;
}

.line-spacing {
	margin-bottom: 40px;
}

.main-text {
	font-family: 'Tomorrow', sans-serif;
	background-color: #fffcf8;
}



