/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Tomorrow', sans-serif;
	background-color: #fffcf8;
}

.col-md-3 {
  background-color: #735582 /* Set the background color for the side columns */
}


/* Changing the background colour for the header */

header {
	background-color: #E8E6E7;
}

/* Changing the background color for the navigation bar */
.navbar {
	background-color: #735582; 
}

.nav-link {
	color: #D3BF8C;
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.hero-section {
	margin-top: 80px;
	}

.main-text {
	font-family: 'Tomorrow', sans-serif;
	background-color: #fffcf8;
}